@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-effect {
    @apply relative flex flex-col px-5 py-3 text-left hover:bg-transparent rounded-full hover:bg-gray-50 focus-within:outline-none;
  }
}
.btn-shadow:focus-within {
  box-shadow: 0 0 20px 1px rgb(0 0 0 / 20%);
}
.btn-effect::before {
  position: absolute;
  content: " ";
  height: 32px;
  border: 0.5px solid rgb(220, 220, 220);
  right: 0;
  top: 25%;
  border-left: 0;
}
body {
  background-color: #1d1d27;
  font-size: 16px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  color: #f4f4f6;
}

/* --------------Home page--------------------- */
@import url("./pages/home/style.css");
